  body {
    text-align: center;
  }

  h1 {
    font-size: 50px;
    font-family: 'Shrikhand', cursive;
    color: blue;
  }

  img {
    margin: 10px;
    width: 300px;
    height: 300px;
  }

  select {
    background: blue;
    color: #ffffff;
  }

  #contenido {
    margin-top: 40px;
  }

  .f-orig {
  }

  .f-sep {
    filter: sepia(80%);
    -webkit-filter: sepia(80%);
  }

  .f-bn{
    filter:grayscale(100%);
  }

  .f-invertir{
    filter:invert(100%);
  }


  .menu {
    margin-top: 30px;
  }
